---
---

/* ********************global********************* */

$color1: #004a55;
$color2: rgb(109, 164, 60);
$color3: #f87d09;
$color4: #dbe8e8;
$color5: rgb(135, 49, 99);
$color6: rgb(211, 198, 26);
$color8: #ffda09;
$gray: #f2f3f3;
$beige: #f8f8f8;
$white: #ffffff;
$shadow: 0 0 3px rgba(0, 0, 0, 0.1);
$serif: RecoletaAlt-Regular;
$serif-bold: RecoletaAlt-Bold;
$sans: RozanovaHUM-Light;
$sans-bold: RozanovaHUM-Bold;
$sans-italic: RozanovaHUM-LightIt;

$max-w-base: 700px;
$base-font-size: 1.2em;
$base-spacing: 1rem;
$base-line-height: 1.8;
$base-spacing: $base-line-height * 1rem;
$x-small-spacing: $base-spacing / 3;
$small-spacing: $base-spacing / 2;
$medium-spacing: $base-spacing * 1.25;
$large-spacing: $base-spacing * 2;
$x-large-spacing: $base-spacing * 3;
$xx-large-spacing: $base-spacing * 4;
@import "../_sass/reset";
@import "../bourbon/bourbon";
@import "../_sass/global";
@import "../_sass/type";
@import "../_sass/img_videos";
@import "../_sass/posts";
@import "../_sass/about";
@import "../_sass/home";
@import "../_sass/fonts";
@import "../_sass/inclusion_books";
