input[type="email"],
textarea {
  font: inherit;
  display: block;
  border-radius: 4px;
  margin-bottom: 30px;
  border: 1px solid $gray;
  padding: 8px 15px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  font-family: $serif;
  font-size: inherit;
  font-weight: 600;
  border-radius: 4px;
  padding: 8px 15px;
  width: 100%;
  border: 1px solid $gray;
  cursor: pointer;
}
