.clips-group,
.recent {
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 50px;

    h1 {
      font-size: 1.2em;
      line-height: 1.4;
      margin-top: 0;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 20px;
    }

    a {
      display: block;
      width: 100%;
      text-decoration: none;
      border: 0;
    }

    &__clip-column {
      h4 {
        font-size: .9em;
        line-height: 1.3;
      }

      article {
        background: $white;
        margin-bottom: 10px;
        padding: 20px;
      }
    }

    .post-container {
      background: $white;
      margin-bottom: 20px;
      padding: 20px;

      h3 {
        font-size: 1.2em;
        line-height: 1.5;
        margin: 0;
      }

      p {
        font-size: 88%;
        font-weight: 400;
        hyphens: 5;
        line-height: 1.5;
        margin: 0;
      }
    }

  @media screen and (min-width: 760px) {
    grid-column-gap: 2.5em;
    grid-template-columns: 3fr 6fr 3fr;
  }
}

.greeting {
  h1 {
  font-size: 1em;
  font-weight: 400;
  padding: 1.2em 5%;
  }
}

.recent {
  margin: 2em 0;
  &__header {
    font-family: $sans;
    font-style: normal;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;
  }

  .post-container {
    align-items: center;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 3fr;
    max-width: 800px;
  }

}
