img {
  max-width: 100%;
  display: block;
}

.img-only {
  margin: 0 -15px;

  img {
    border: solid $gray 2px;
  }
}

.img-only-source {
  margin: 0 -15px;
  text-align: center;
}

video {
  max-width: 100%;
  height: auto;
}

embed,
iframe,
object {
  max-width: 100%;
}

/***********************Image GRid***********************/
.img-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25%;
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  background: pink;

  img {
    max-width: 100%;
  }
}
@media screen and (min-width: 350px) {
  .img-grid {
    grid-template-columns: 49.5% 49.5%;
    grid-template-rows: 50%;
  }
}
@media all and (min-width: 680px) {

  .img-only {
    margin: 0 -30px;
  }

  .img-only-source {
    margin: 0 -30px;
  }
}
@media screen and (min-width: 650px) {
  .img-grid {
    grid-template-columns: 32.677% 32.677% 32.677%;

    .item-d {}
  }
}

.cover-image-container {
  img {
    max-height: 100px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.Speaking .cover-image-container {
  background-image: url("/img/speaking.jpg");
  background-size: cover;
  -webkit-filter: grayscale(1) brightness(0.75) contrast(1.05);
  filter: grayscale(1) brightness(0.75) contrast(1.05);
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.full {
  max-width: 100%;
}

.medium {
  max-width: 900px;
}

.limit {
  max-width: $max-w-base;
  margin: $large-spacing 0;
}
