a.read-more {
  background-image: none;
  border: 0;
  color: $color2;
  display: inline;
  font-size: 1.2em;
  font-weight: 600;

  &:hover {
    color: $color1;
  }
}

.pagination {
  font-family: $serif;
  font-weight: 600;
  margin-top: -30px;
  padding-bottom: 50px;
}

.pagination a {
  background-image: none;
  text-decoration: none;
}

.pagination .disabled {
  color: gray;
}

.pagination .left {
  float: left;
}

.pagination .right {
  float: right;
}

#disqus_thread {
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: $max-w-base;
}

.posts,
.pages {

  h1,
  h2,
  h3,
  blockquote,
  p,
  span,
  ul,
  ol,
  .tags {
    max-width: $max-w-base;
  }

  .full {
    max-width: 100%;
  }

  p {
    font-weight: 400;
  }
}

  .tags {
    display: block;
    margin-top: 2em;
  }
