---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: jekyll-posts
  label: Posts
  create: all
- type: directory
  path: _clips
  label: Clips
  create: all
  match: "**/*"
- type: directory
  path: _food
  label: Food
  create: all
  match: "**/*"
- type: heading
  label: Pages
- type: document
  path: about.md
  label: About
- type: jekyll-pages
  label: Pages
  create: all
upload_dir: img
public_path: img
front_matter_path: ''
use_front_matter_path: 
file_template: ":filename:"
build:
  preview_command: bundle exec jekyll build --drafts --unpublished --future -d _site
  publish_command: bundle exec jekyll build -d _site
  preview_env:
  - JEKYLL_ENV=staging
  publish_env:
  - JEKYLL_ENV=production
  preview_output_directory: _site
  output_directory: _site
  instant_preview_command: bundle exec jekyll serve --drafts --unpublished --future
    --port 8080 --host 0.0.0.0 -d _site
