---
layout: default
---

<section class="pages about-grid">
  <article>
  {{ content }}
  </article>
  <div class="photo-1">
    <picture>
      <img
      sizes="(max-width: 400px) 100vw, 400px"
      srcset="/img/samkap,w_190.jpg 190w,
      /img/samkap,w_317.jpg 317w,
      /img/samkap,w_416.jpg 416w"
      src="/img/samkap,w_416.jpg"
      alt="It's me, Sam!">
    </picture>
  </div>
  <div class="photo-2">
        <img src="http://placekitten.com/200/300">
  </div>
  <div class="photo-3">
<img src="/img/about/offscreen-spread.jpg" alt="Spread in Offscreen Magazine issue 16 featuring a day in my life">
<small>A spread from a "Day in the life" feature from Offscreen Magazine.</small>
  </div>
  <div class="photo-4">
  <img src="/img/about/speaking.jpg" alt="Speaking at a conference">
  <small>Speaking at ConvergeSE 2017</small>
  </div>
  <div class="photo-5">
    <img src="http://placekitten.com/200/300">
   </div>
  <div class="photo-6">
    <img src="http://placekitten.com/200/300">
  </div>
</section>
