---
layout: default
comments: true
---
<article class="posts">
  <h1>{{ page.title }}</h1>
  <span class="meta">{{ page.date | date: site.date_format }}</span>
  {{ content }}
  <div class="tags">
  <small>tags:
    <em>
      <span>
        {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
        {% endfor %}
      </span>
    </em>

  </small>
</div>
</article>
{% include scripts.html %}
</main>
