---
layout: default
---
<section class="recent">
  <div class="greeting">
    <picture>
      <img
      sizes="(max-width: 600px) 100vw, 600px"
      srcset="img/samkap,w_190.jpg 190w,
      img/samkap,w_317.jpg 317w,
      img/samkap,w_416.jpg 416w,
      img/samkap,w_508.jpg 508w,
      img/samkap,w_584.jpg 584w,
      img/samkap,w_600.jpg 600w"
      src="img/samkap,w_600.jpg"
      alt="It's me, Sam!">
    </picture>

    <h1>Hi, I'm Sameera. I'm based in Austin where I'm a design director, plant and food hobbyist, and former executive and educator. I speak and write about design and inclusion and serve on two advisory boards.</h1>
  </div>
  <div class="recent__post-column">
  <h2 class="recent__header">Recent Posts</h2>
  {% for post in site.posts limit: 3 %}
      <article>
      <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="post-container">
        <div class="cover-image-container">
          {% if post.cover-image %}
          <img alt="thumbnail for post" src="{{ post.cover-image }}?nf_resize=fit&w=100">
          {% else %}
          <img alt="thumbnail for post" src="img/ampersam.svg?nf_resize=fit&w=40" style="opacity: .5;">
          {% endif %}
        </div>
        <div class="post-container__text">
          <span class="meta">{{ post.date | date: site.date_format }}</span>
          <h3>{{ post.title }}</h3>
          <p>{{ post.content | truncatewords:40 | strip_html }}&nbsp;
          </p>
        </div>
        </div>
      </a>
    </article>

  {% endfor %}
  </div>
  <div class="recent__clip-column">
    <h2 class="recent__header">Recently bookmarked</h2>
    {% assign clips = site.clips | reverse %}
    {% for post in clips limit: 5 %}
    <a href="{{ post.url | prepend: site.baseurl }}">
      <article>
        <span class="meta">{{ post.date | date: site.date_format }}</span>
        <h4>{{ post.title | truncate:50 }}</h4>
      </article>
    </a>
    {% endfor %}
    </div>
</section>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
