---
layout: default
---
<section class="pages">
  <h1>Tag: {{ page.tag }}</h1>
  <div class="listing-posts">
    {% for post in site.posts %}
    {% if post.tags contains page.tag %}
    <article>
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-container">
         <div class="post-container__text">
           <small class="meta">{{ post.date | date: site.date_format }}</small>
           <h2>{{ post.title }}</h2>
           <p>{{ post.content | truncatewords:40 | strip_html }}</p>
         </div>
       </a>
     </article>
    {% endif %}
    {% endfor %}
  </div>
</section>
</main>
